<app-header [title]="title" class="text-center"></app-header>
<ion-content>
  <div class="container" *ngIf="movieData$ | async as movieData; else loader">
    <div class="img--div">
      <img [src]="movieData?.image">
    </div>
  
    <p *ngIf="movieData?.writers"> 
      <strong>Escrito por: </strong> {{movieData?.writers}}
    </p>
    <p *ngIf="movieData?.directors">
      <strong>Dirigido por: </strong> {{movieData?.directors}}
    </p>
    <app-genre-list [genders]="movieData?.genreList"></app-genre-list>
   
    <app-genre-list [genders]="movieData?.countryList" color="tertiary"></app-genre-list>
    <!-- desktop -->
    <app-actor-list class="actor-list" [actorList]="movieData?.actorList" title="Actores">
    </app-actor-list>
     <!-- mobile -->
    <app-actor-list-card class="actor-list-card" [actorList]="movieData?.actorList" title="Actores">
    </app-actor-list-card>
  </div>
  <ng-template #loader>
    <div class="loading">
      <ion-spinner name="circles"></ion-spinner>
    </div>
  </ng-template>
</ion-content>